In [1]:
import pandas as pd

In [2]:
ls

 Volume in drive B is Data
 Volume Serial Number is 5E52-9EC0

 Directory of B:\Learn\Cursos\DataScience\GITHUB\DataScience\Supervised\Regression\platzi

06/23/2022  04:23 PM    <DIR>          .
06/23/2022  04:23 PM    <DIR>          ..
06/23/2022  04:23 PM    <DIR>          .ipynb_checkpoints
06/23/2022  04:22 PM            49,082 housing_edf82b23-51e2-4f57-887d-6be67da34d27.data
06/23/2022  04:23 PM                72 Untitled.ipynb
               2 File(s)         49,154 bytes
               3 Dir(s)   7,610,183,680 bytes free

In [10]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [ ]:
    1.       per capita crime rate by town
    2.         proportion of residential land zoned for lots over 
                 25,000 sq.ft.
    3.      proportion of non-retail business acres per town
    4.       Charles River dummy variable (= 1 if tract bounds 
                 river; 0 otherwise)
    5.        nitric oxides concentration (parts per 10 million)
    6.         average number of rooms per dwelling
    7.        proportion of owner-occupied units built prior to 1940
    8.        weighted distances to five Boston employment centres
    9.        index of accessibility to radial highways
    10.       full-value property-tax rate per $10,000
    11.   pupil-teacher ratio by town
    12.         1000(Bk - 0.63)^2 where Bk is the proportion of blacks 
                 by town
    13.     % lower status of the population
    14.      Median value of owner-occupied homes in $1000's